@import './mixins.scss';

.txCtr {
  text-align: center;
}

.txRt {
  text-align: right;
}

.center {
  @include center();
}

.width100 {
  width: 100%;
}

.border {
  border: 1px solid #1395ba;
}

ul.unstyled {
  padding-left: 0;
  
  li {
    display: block;
  }
}