.SiteNav {
  height: 40px;
  background-color: #363946;
  padding: 20px 15px;

  .logo {
    color: white;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    line-height: 26px;
    font-family: sans-serif;
    margin-right: 25px;

    div {
      float: left;
      background-color: white;
      font-size: 24px;
      color: black;
      margin-right: 3px;
    }
  }

  a {
    padding: 5px;

    &.active {
      background-color: white;
      border: 1px solid #1395ba;
      border-radius: 5px;
      text-decoration: none;
      color: #3e3e3e;
      pointer-events: none;
    }
  }

  .chatLink {
    position: relative;

    & [data-unread]::before {
      content: attr(data-unread);
      background-color: #be6837;
      color: white;
      border: 1px solid white;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      padding: 3px;
      width: 13px;
      height: 13px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .peerId {
    color: white;
  }
}